<div class="col-lg-12">
  <div class="col-lg-12">
    <div class="shipping-error"></div>
  </div>
</div>
<%= form_tag(shippings_path, remote: true) do %>

    <div class="col-lg-12">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading"> Service Settings</div>
          <div class="panel-body">
            <%= select_tag('service_code', options_for_select(CanadaPost::Request::Shipping::SERVICE_CODES.collect { |key, value| [value, key] }), class: 'form-control') %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'welcome/package_info' %>
    <%= render 'welcome/notification_and_preference' %>

    <div class="col-sm-12">
      <%= render 'welcome/sender_info' %>
      <%= render 'welcome/destination_info' %>
    </div>

    <div class="col-lg-12">
      <div class="form-group col-lg-12">
        <%= submit_tag('Create Shipment', class: 'btn btn-default pull-right') %>
        <%= image_tag('arrow-loader.gif', class: 'loader') %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $(document).ajaxSend(function () {
            $('.loader').show();
        });
    });
</script>