<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">Destination Information</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Name:</label>
                <%= text_field_tag('destination[name]', '', class: 'form-control') %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Company:</label>
                <%= text_field_tag('destination[company]', '', class: 'form-control') %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label> Address Line: </label>
            <%= text_area_tag('destination[address_details][address]', '', class: 'form-control') %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> City: </label>
                <%= text_field_tag('destination[address_details][city]', '', class: 'form-control') %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label> State: </label>
                <%= text_field_tag('destination[address_details][state]', '', class: 'form-control') %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <label> Country: </label>
              <%= text_field_tag('destination[address_details][country]', '', class: 'form-control') %>
            </div>
            <div class="col-lg-6">
              <label> Zip:</label>
              <%= text_field_tag('destination[address_details][zip]', '', class: 'form-control') %> <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>